@font-face {
    font-family: 'icons';
    src: url('modernpics.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body { font-family: Arial, sans-serif; color: white; }
body table { margin-left: auto; margin-right: auto; }
body { margin: 0px; }
html, body {  height: 100%; }
div#preload { display: none; }
body div { font-size: 15px; }
.linearBg {
  background-color: #1a82f7;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-linear-gradient(top, #2F2727, #1a82f7); /* Safari 5.1, Chrome 10+ */
  background: -moz-linear-gradient(top, #2F2727, #1a82f7);  /* Firefox 3.6+ */
  background: -ms-linear-gradient(top, #2F2727, #1a82f7);  /* IE 10 */
  background: -o-linear-gradient(top, #2F2727, #1a82f7); /* Opera 11.10+ */
}
.jebPage { font-family: Helvetica, Arial, sans-serif; height: 100%; }
.jebBody { position: relative; min-height: 100%; margin-bottom: -41px; width: 100%; }
.jebBodyEnd div { margin: 0px; height: 40px; clear: both; background-color: transparent; }
.jebFoot { position: relative; height: 40px; width: 100%; }
.jebIcons { font-family: 'icons'; }
.jebNav { padding-top: 20px; }
.jebNav a { width: 8em; }
.jeb-LoadMsg { background-color: rgba(250,50,50, 0.7); color: white; font-size: 120%; border: 2px solid #000000; }
.jeb-Debug { background-color: rgba(50,50,50, 0.7); color: white; border: 1px solid #000000; }
.jeb-Clock { background-color: rgba(0,0,0,0); color: white; border: 1px solid #000000; }
.jeb-Table { background-color: rgba(70,38,62, 0.7); color: white; font-size: 80%; border: 1px solid white; }
.jeb-Edit { background-color: rgba(210,200,200, 0.9); color: black; border: 1px solid #000000; position: absolute; width: 80em; height: 21em; }
#jeb-Table a { color: white; font-size: 80%; }
 
.jebMenu { position:absolute; top:2em; left:1em; z-index: 1; }
#jebSetSize a { color: black; }
#selPanels { background-color: rgba(50,50,250, 0.9); color: black; border: 1px solid #000000; position: absolute; top:5%; left:5%; }
#selClocks { background-color: rgba(50,50,250, 0.9); color: black; border: 1px solid #000000; position: absolute; top:5%; left:5%; }

.jebCanvas { line-height: 0px; vertical-align: top; }
.jebMeter {  background-color: black;  border-radius: 9px; padding: 2px; margin: 1px; line-height: 0px; }
.jebMeter div { background-color: #F0F000; height: 14px; border-radius: 7px; }

.jebButton td .jebSel { background-color: #f0f000; }
.jebButton div .jebSel { background-color: #f0f000; }
.jebButton a { display:inline-block; text-align:center; color: blue; min-width: 4em; line-height: 2em; margin-left: 0.25em; margin-right: 0.25em; padding: 2px 0.15em 2px 0.15em; border: 1px solid #B3D4FC; background: white; }
.jebButton a:hover {  box-shadow: inset 0 0 8px #aaaaaa; }


#jeb-home { line-height: 140%; }
#jeb-header { background-color: #B3D4FC; color: black; }
#jeb-content { background-color: #CCCCCC; color: black; }
#jeb-footer { background-color: #B3D4FC; color: black; }
#jeb-footer td { text-align: center; }
#jeb-footer td a { margin: 10px; font-size: 80%; color: black; text-decoration: none; }
#jeb-footer td a:hover { text-decoration: underline; }

.jeb-head { font-size: 120%; font-weight: bold; margin-top: 10px; }
.jeb-huge { font-size: 300%; font-weight: bold; line-height: normal; color: #736f6e; }
.jeb-ref { font-size: 75%; }
.jeb-title { font-size: 180%; }
